nav{
    height: 70px;   
}

main{
    height: calc(100vh - 70px);
}

.side-bar{
    background-image: url('./assets/img/sidebar-bg.png');
    background-color: #1A2A41;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 70px);
}

.main-part{
    overflow: auto;
    height: calc(100vh - 70px);
} 

.top-part{
    background-color: lightgray;
}

/* nav */

.dropdown-toggle::after {
    content: "💡";
}

.dropdown-menu[data-bs-popper] {
    left: -150px;
}

.logo-mobile img{
    width: 30px;
    height: 30px;
}

/* main */

.btn-top{
    background-color: #063a83;
}

th img{
    width: 20px;
    padding: 2px;
}

.card img{
    width: 100%;
    margin: auto;
}

@media screen and (min-width: 992){
    .offcanvas.offcanvas-end {
        width: 100%;
    }
}


