nav{
    height: 70px;   
}

main{
    /* background-color: red; */
    height: calc(100vh - 70px);
}

.side-bar{
    background-image: url('/assets/img/sidebar-bg.png');
    background-color: #1A2A41;
    height: calc(100vh - 70px);
}

.main-part{
    /* background-color: green; */
    overflow: auto;
    height: calc(100vh - 70px);
} 

/* .left-part{
    background-color: blueviolet;
} */

.right-part{
    
    margin: 0;
}

.top-part{
    background-color: lightgray;
}

/* nav */

.dropdown-toggle::after {
    content: "💡";
}

.dropdown-menu[data-bs-popper] {
    left: -150px;
}

.logo-mobile img{
    width: 30px;
    height: 30px;
}

/* main */

.btn-top{
    background-color: #063a83;
}

th img{
    width: 20px;
    padding: 2px;
}

.todo{
    width: 400px;
    margin: 3px auto;
   
    height: auto;
    padding: 20px;
}

.card{
    width: auto;
    margin: 3px auto;
    
    height: auto;
    padding: 20px;
}
